.nav-item {
    display: inline-block;
    height: auto;
    margin-right: 5%;
    padding: 3%;
    margin: 0.1%;
}

.nav-link:hover {
    font-weight: bold;
}

.nav-item .nav-link{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

