.container{
    width: 15%;
    height: 100vh;
    border: 5px solid grey;
    background-color: white;
    position: fixed;
}

.inner-container{
    padding: 10%;
    border-bottom: 5px solid grey;
    position: relative;
}

.add-book {
    width: 80%;
    background-color: grey;
    text-decoration: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 7px;
    cursor: pointer;
    display: inline-block;
    border: none;
    border: 2px solid #404040;
    border-radius: 10px;

}

.add-book:hover{
    background-color: white;
    color: #404040;
}