.about {
    margin-top: 2%;
    text-align: center;
}

.bookImg{
    float: left;
    height: 350px;
    margin-left: 15%;
}

h4 {
    text-align: left;
    margin-right: 30%;
    font-size: 18px;
    word-spacing: 4px;
    letter-spacing: 1px;
}