.container{
    width: 550px;
    height: 40px;
    border: 2px solid grey;
    background-color: #404040;
    text-align: center;
    position: fixed;
    border-radius: 20px;
    margin-top: 5px;
    margin-left: 5px;
}

.inner-container{
    position: relative;
    padding: 1.2%;
    border-right: 2px solid grey;
    color: white;
    display: inline-block;
    
}

.inner-container:last-child{
   border-right:none;
   margin-left: 5px;
    
}

.options {
    margin-left: 5px;
}

.close{
    opacity: 0.9;
    color: white;
    right: 30px;
    top: 30px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    background-color: grey;
}

.close:hover {
    opacity: 0.5;
  }

.add-book {
    background-color: grey;
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding-right: 7px;
    padding-left: 7px;
    padding-top: 1px;
    padding-bottom: 1px;
    cursor: pointer;
    display: inline-block;
    border: none;
    border: 2px solid grey;
    border-radius: 10px;

}

.add-book:hover{
    background-color: white;
    color: #404040;
}

.search-input {
    width: 40%;
}