.submit-button{
    width: 125px;
    background-color: white;
    color: #404040;
    font-size: 15px;
    font-weight: bold;
    padding: 7px;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    border: none;
    border: 2px solid #404040;
    border-radius: 10px;
}

.submit-button:hover{
    background-color: #404040;
    color: white;
}