.normal-footer, .form-footer {
    width: 100%;
    height: 120px;
    background-color: #404040;
    color: white;
    border-top: 3px solid #808080;
    overflow: hidden; 
    position: relative;
    clear: both;
    bottom: 0;
}

.form-footer {
    position: absolute;
}

.form-footer div, .normal-footer div{
    margin-top: 50px;
    letter-spacing: 1px;
    text-align: center;
}