.nav-item {
    display: inline-block;
    height: auto;
    margin-right: 5%;
    cursor: pointer;
    padding: 3%;
    margin: 0.1%;
    border-radius: 5% white;
    vertical-align: right;
}

nav .nav-item:hover {
    border-top: none;
    border-bottom: 2px solid #808080;
    font-weight: bold;
}

.nav-item .nav-link{
    color: white;
    text-decoration: none;
    font-size: 18px;
}

